.modulesHeader{
    padding-top: 10px;
    font-size: 30px;
}

.moduleButtons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Module list container */
.listGroup {
    list-style: none; /* Remove default list-style (bullet points) */
    padding-left: 0px;;
  }
  
  /* Module list item */
  .listGroupItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Module name */
  .listGroupItem h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  /* Module description */
  .listGroupItem p {
    margin: 10px 0 0;
    color: #666;
  }
  
  /* Hover effect */
  .listGroupItem:hover {
    background-color: #f7f7f7;
    transition: background-color 0.3s;
  }
  
  .modulesHeader{
    padding-top: 10px;
    font-size: 30px;
}

/* Module list container */
.listGroup {
    list-style: none; /* Remove default list-style (bullet points) */
    padding-left: 0px;;
    display: flex;
  }

  
  .header{
    padding-top: 20px;
  }

  .assignmentHeader{
    display: flex;
    align-items: center;
  }

  .aHeader {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container {
    padding: 0px;
  }

  .outlinedListItem {
    display: flex;
    align-items: center;
  }

  .assignmentIcon{
    color: #148d55;
  }

  .assignmentName{
    padding-left: 20px;
  }

  .assignmentItem {
    border: 1px solid #ddd;
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: space-between; /* Space between assignment name and check icon */
  }
  
  /* Style the check icon */
  .check {
    margin-left: 10px; /* Add some space between assignment name and check icon */
    color: #148d55;
  }