/* Resetting default styles for list-group-item */
.icons-container .list-group .list-group-item {
  border: none;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white; /* Make text white */
}

/* Styling for the icons */
.icons-container .list-group .list-group-item i {
  font-size: 24px; /* Increase icon size */
  color: red; /* Make icons red */
}

/* Changing background color when active */
.icons-container .list-group .list-group-item.active {
  background-color: white;
}

/* Styling to make the account icon grey */
.icons-container .list-group .list-group-item i.fa-user {
  color: grey;
}

/* Container for both icon and text */
.icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color:red;
}

/* Styles for text under icons */
.link-text {
  text-align: center; /* Center text */
  width: 100%; /* Full width */
  color: white; /* Make text white */
}

/* Change text color to red when item is active */
.icons-container .list-group .list-group-item.active .link-text {
  color: red;
}

/* Removing border-radius from list items */
.icons-container .list-group .list-group-item {
  border-radius: 0;
}

/* Adding hover effect */
.icons-container .list-group .list-group-item:hover {
  background-color: #333333; /* Darker background on hover */
}

/* Styles for the N icon */
.n-icon {
  background-color: black;
  font-size: 50px;
  color: #d41c2d;
  padding: 20px;
}

/* Container for N icon and other icons */
.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}