body {
    background-color: white; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-content {
    margin-left: 85px; /* slightly wider than the sidebar width to avoid overlap */
}
  
.sidebar {
    width: 80px; 
    background-color: black;
    height: 100vh; 
    position: fixed; 
    z-index: 1000;  
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar a div {
    text-align: center;
}

.sidebar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: black; 
    margin: 7px 0; 
    padding: 7px 0; 
    transition: background-color 0.3s;
}

.sidebar a {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px; /* can vary between 5 and 10 pixels */
    margin: 5px 0; /* can vary between 5 and 10 pixels */
    transition: background-color 0.2s; /* smoothens the color change on hover/active */
    font-size: 12px; 
}

.sidebar a:hover, .sidebar a.active {
    background-color: white;
    color: red;
}

.sidebar i {
    color: red; 
    margin-bottom: 7px; 
    display: block;  /* this will make the icon take up its own line, above the text */
    font-size: 20px;
}

.sidebar .account a {
    color: white; 
}

.sidebar .account i {
    color: white;
}

.sidebar li.active {
    background-color: white;
}

.sidebar li.active a {
    color: red;
}

.sidebar li.active i {
    color: red;
}
